<div class="container">
   <h1>Contacto</h1>

   <div id="texto" #textos>
    <p appResaltado>
        Esta es la página de contacto puedes enviarnos cualquier duda
    </p>
   </div>

 
<!--    
    Tamaño del slider:
   <input type="number" [(ngModel)]="widthSlider">
   <button (click)="cargarSlider()">Cargar Slider</button>
   <button (click)="resetearSlider()">Resetear Slider</button>

   <div *ngIf="anchuraToSlider">
    <slider [anchura]="anchuraToSlider"
            (conseguirAutor)="getAutor($event)"></slider>
   </div>

   {{autor.nombre + " " + autor.website}} -->
</div>


