<section class="skills" id="skills">
    <h2 id="title">Skills</h2>

    <div class="skills-wrapper">
        <div class="set animate__animated animate__pulse">
            <div class="icon-container">
                <img src="assets/icons/icons8-html-5.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">HTML5</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-css3.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">CSS3</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-javascript.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">JavaScript</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-bootstrap.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">Bootstrap</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/ionic-icon.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">Ionic</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/angular-icon.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">Angular</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-jquery.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">jQuery</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-php.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">PHP</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-nodejs.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">NodeJS</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-mysql.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">MySQL</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-ts.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">TypeScript</span>
            </div>
            <div class="icon-container">
                <img src="assets/icons/icons8-android.svg" alt="" loading="lazy" class="icon icon-card" />
                <span class="icon-name">Movile</span>
            </div>
        </div>
    </div>
</section>
