<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Ingeniero Informático egresado en el año 2023 del Instituto Duoc UC, donde en el transcurso de la carrera he desarrollado diversas habilidades en programación, análisis de datos y gestión de proyectos informáticos, entre otros.
        Algunos de mis conocimientos y certificaciones relacionadas con la carrera incluyen:
    </p>
        <ul>
            <li>Análisis y Planificación de Requerimientos Informáticos.</li>
            <li>Programación de Software.</li>
            <li>Calidad de Software.</li>
            <li>Análisis y Desarrollo de Modelos de Datos.</li>
            <li>Certificación Framework Agile: Scrum Foundation Professional Certificate.</li>
            <li>Internacional en inglés intermedio alto.</li>
            <li> Arquitectura de software.</li>
            <li>Gestión de proyectos informáticos.</li>
            <li style="padding-bottom: 15px;">Inteligencia de negocios.</li>
        </ul>
        <hr>
        <p>
            En mi último proyecto, tuve la oportunidad de participar en la migración exitosa de una aplicación móvil, utilizando tecnologías y frameworks actualizados como Angular 15, Ionic 6.7 y PHP 8.2, entre otros. Durante este proceso, tuve el privilegio de trabajar en Impact Limitada, una empresa reconocida en el campo de desarrollo de software. Utilicé herramientas de trabajo como BitBucket, Jira y Confluence para una gestión eficiente del proyecto, garantizando la satisfacción del cliente y el cumplimiento de los objetivos establecidos.
            Mis expectativas son poder trabajar en el área de informática para poder poner en práctica todo lo que he aprendido en este camino, poder adquirir experiencia y brindar valor a los objetivos de negocio a los proyectos en los que esté involucrado.
            El trabajo en equipo, la empatía, proactividad y ganas de superación son algunas de las características que mejor definen mi personalidad.
        </p>
</article>